.home-container {
  margin: 5px auto !important;
}

.input-label {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    color:#737373  !important; 
    font-weight:normal !important;
    position:relative !important;
    pointer-events:none !important;
    left:5px !important;
    top:-40px !important;
    transition:0.2s ease all !important; 
}

.input-block {
    position: relative !important;
}

.input-block-cvv {
    position: relative !important;
    max-width: 70px !important;
    display: inline-block !important;
}

.input-area:focus ~ .input-label, .input-area:valid ~ .input-label {
  top:-55px !important;
  font-size:14px !important;
  color:#5264AE !important;
}

.input-area {
    border: none !important;
    display: block !important;
    width: 100% !important;
    outline: none !important;
    height: 40px !important;
    padding: 5px !important;
    border-bottom: 1px solid #C3C3C3 !important;
    letter-spacing: 1px  !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
}

.input-area:active {
    border-color: #0585DD !important;
}

.input-area:focus {
    border-color: #0585DD !important;
}

.input-area:hover {
    border-color: #0585DD !important;
}

.param-rule {
    color : red !important;
    font-size: 12px !important;
}